.header{
    text-align: center;
    color:rgba(236, 127, 255, 0.766);
    font-size: 25px;
}

.start button{
    font-size: large;
    background-color: aquamarine;
    color: blueviolet
}

body{
    background-color: darkslateblue;
}