body {
    background-image: url(Champagne.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-attachment: cover;

}

header {
    text-align: center;
    margin-right: 10%;
    color: rgba(0, 0, 0, 0.819);
    font-size: 25px;
    background-color: #ffffff78;
    padding: 2%;

    border-radius: 10px;
}

.start button {
    font-size: large;
    background-color: rgba(238, 138, 138, 0.429);
    color: rgba(190, 25, 25, 0.766);
   

}

.box {
    background-color: #ffffff78;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 2%;
    flex: 0 0 400px;
    margin-right: 10%;

}

.map-container{
    border-radius: 20%;
    border-style: solid;
    border-color: #ffffff78;
    border-width: 1px;
    padding: 30px;
    height: 400px;
    width: 400px;
    display: grid;
    flex-wrap: wrap;
    margin-left: 20%;
}

#map {
    height: 200%;
    width: 200%;
    padding: 10%;
}

#title{
    font-size:200%;
    text-align: center;
}