body {
    background-image:url(Champagne.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-attachment: cover;
    

}
.header{
    color: rgba(255, 0, 0, 0.915);
}

header {
    text-align: center;
    color: rgba(0, 0, 0, 0.921);
    font-size: 25px;
    background-color: #ffffff78;
    padding: 2%;

    border-radius: 10px;
}

.previous-results-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}
.homepage-link {
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgba(255, 0, 0, 0.915);
    font-size: 4rem;
}



.previous-recommendations-link {
    font-size: 1.75rem;
}

.previous-recommendations-heading {
    font-size: 1.75rem;
}

.previous-recommendations-list {
    display: flexbox;
    flex-direction: column;
}

.previous-recommendations-list li {
    font-size: 1.5rem;
    padding: 20px;
    border-bottom: 2px;
    border-style: outset;
}

.submit-button {
    font-size: large;
    background-color: rgba(238, 138, 138, 0.723);
    color: rgba(190, 25, 25, 0.848) ;
    border-color: rgba(190, 25, 25, 0.848);
    border-width: 1px;
   

}
.start-button{
    background-color: rgba(131, 128, 128, 0.758);
    border-color: rgba(131, 128, 128, 0.758);

}

.box {
    background-color: #ffffff78;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 2%;
    flex: 0 0 400px;

}

.results-map-container {
    display: flexbox;
    justify-content: space-evenly;
}



.map-container{
    border-radius: 20%;
    border-style: solid;
    border-color: #ffffff78;
    border-width: 1px;
    padding: 30px;
    height: 400px;
    width: 400px;
    display: grid;
    flex-wrap: wrap;
    margin-left: 20%;
}

#map {
    height: 200%;
    width: 200%;
    padding: 10%;
}

#title{
    font-size:200%;
    text-align: center;
}